@import "tailwindcss";

@theme {
  --color-nasa-blue: #0066b2;
  --color-deep-black: #0b0b0b;
}

body {
  background-color: white; /* Default background is white */
  color: black;
  margin: 0;
  font-family: var(--font-inter), sans-serif;
}

/* Subtle grid for the white sections to look "Engineering" like */
.bg-blueprint {
  background-image: radial-gradient(#00000010 1px, transparent 1px);
  background-size: 30px 30px;
}